{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{- if .showWaveIcon -}}<span class="wave">👋</span>&nbsp;{{- end -}} {{ .Title | markdownify }}</h1>
    </header>
    {{- if .showTerminalWindow -}}
    <div class="terminal">
        <div class="terminal-task-bar"> <span class="terminal-circle terminal-circle-red"></span> <span class="terminal-circle terminal-circle-yellow"></span> <span class="terminal-circle terminal-circle-green"></span></div>
        <div class="terminal-window">
          <p class="terminal-prompt">➜ <span class="terminal-prompt-typing"><span class="cover cover-query"></span>{{ .terminalQuery }}</span></p>
          <p class="terminal-prompt terminal-prompt-response">{{ .terminalResponse }}</p>
        </div>
    </div>
    {{- end -}}
    <div class="entry-content">
        {{ .Content | markdownify }}
        {{- if .showTags -}}
        {{ .tagsTitle | markdownify }}
        <div class="post-tags">
            {{range $name, $taxonomy := site.Taxonomies.tags}} {{ $cnt := .Count }}
                {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <div>
                    <a href={{ .RelPermalink }} title="All blogs with tag {{$name}}">{{$name}}<sup>{{$cnt}}</sup></a>
                </div>
                {{end}}
            {{end}}
        </div>
        {{- end -}}
    </div>
    {{- if .showSocialIcons -}}
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    {{- end -}}
</article>
{{- end -}}
