.wave {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(14deg);
  }
  14% {
    transform: rotate(-8deg);
  }
  21% {
    transform: rotate(14deg);
  }
  28% {
    transform: rotate(-4deg);
  }
  35% {
    transform: rotate(10deg);
  }
  42% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
